.scoreBoard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50mm;
    font-size: 6mm;
    background-color: white;
    margin: 3mm auto;
    box-shadow: 0px 0px 8px #888;
    border-radius: 15px;
    font-weight: bold;
    background-color: transparent;
}
.scores{
    width: 100%;
    text-align: center;
    padding: 1mm 0;
}
.x-score{
    color: rgb(255, 70, 37);
    border-bottom: 5px solid rgb(255, 70, 37);
    border-radius: 0.5mm 0 0 3mm;
}
.o-score{
    color: rgb(44, 135, 255);
    border-bottom: 5px solid rgb(44, 135, 255);
    border-radius: 0 0.5mm 3mm 0;
}
.inactive{
    border-bottom:  5px solid transparent;
}