.square{
    background-color: white;
    border:none;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #888;
    width: 20mm;
    height: 20mm;
    text-align: center;
    font-size: 15mm;
    line-height: 15mm;
    font-weight: bold;
    margin: 2mm;
    background-color: transparent;
    cursor: pointer;
}

.x{
    color: rgb(255, 70, 37);
}
.o{
    color: rgb(44, 135, 255);
}
.square:hover{
    box-shadow: 0px 0px 30px #fff;
}